<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvesli.coupon_flutter">
    <application
            android:name="io.flutter.app.FlutterApplication"
            android:label="flutter_test"
            android:usesCleartextTraffic="true"
            android:icon="@mipmap/ic_launcher">
            <!-- ... another configure -->
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
